body {
  background-color: #EAEAEA;
  margin: 0;
  padding: 0;
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  display: flex;
  padding: 0px;
  margin-top: 1px;
  text-align: center;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #EAEAEA;
  position: sticky;
  top: 0px;
}

header {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(css-img/thumbnail-portfolio-2.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, .2), 0px -4px 2px -2px rgba(0, 0, 0, .2);
}


#logo {
  border-radius: 50%;
  padding: 10px;
  width: 100px;
  height: auto;
}

.navbar a img {
  transition: all 0.2s ease-out;
}

.navbar a img:hover {
  filter: opacity(0.4) drop-shadow(0 0 0 #00ff11);
}

nav {
  display: flex;
  align-items: center;
}

nav a img {
  width: 35px;
  height: auto;
  padding: 10px;
  transition: all 0.2s ease-out;
}

nav a img:hover {
  filter: opacity(0.4) drop-shadow(0 0 0 #00ff11);
}

nav a {
  text-decoration: none;
  color: #24292f;
  padding: 20px;
  text-align: center;
}

.heading span {
  color: #E4B13A;
}

.skills .heading span {
  color: #4D8B31;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.skills h2 {
  margin: 20px 0 20px 0;
  font-size: 2em;
}

.about-me {
  background-color: rgba(102, 228, 147, 0.16);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
  border-radius: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  width: 80vw;
  margin: 100px auto;
  padding: 50px 50px 50px 50px;
  transition: transform 250ms;
}


.about-me:hover {
  transform: translateY(-10px);
}


#about-text {
  display: flex;
  flex-direction: column;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts a img {
  height: auto;
  width: 50px;
  padding: 10px;
}

.contacts a img:hover {
  filter: opacity(0.4) drop-shadow(0 0 0 #00ff11);
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1000px;
  background-image: linear-gradient(#E4B13A, #DE8E68);
}

.allskillsbox {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.155);
  border-radius: 5%;
  width: 80vw;
  height: 50vw;
  transition: transform 250ms;
  overflow: auto;
}

.allskillsbox:hover {
  transform: translateY(10px);
}

.learned {
  display: flex;
  flex-direction: column;
}

.skillboxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skillbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  background-color: #de8d6871;
  max-width: 22.8%;
  min-width: 45px;
  border: 2px solid #DE8E68;
  border-radius: 10px;
}

.skillbox img {
  max-width: 22.8%;
  min-width: 45px;
  margin-bottom: 5px;
}

footer {
  display: flex;
  background-color: #EAEAEA;
  position: relative;
  justify-content: center;
  width: 100%;
}


@media (min-width: 480px) and (max-width: 1023px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .contacts {
    flex-direction: row;
  }

  .about-me {
    flex-direction: column;
    align-items: center;
  }

  .skillboxes {
    flex-direction: column;
    margin-left: 45px;
  }

  .allskillsbox {
    flex-direction: row;
    height: 80%;
    align-items: center;
  }
}